"*":
  build: {}
  core:
    disabledPackages: [
      "language-markdown"
      "build-markdown"
      "linter-rails-best-practices"
    ]
    followSymlinks: false
    hideGitIgnoredFiles: true
    ignoredNames: [
      ".DS_Store"
      ".git/*"
    ]
    projectHome: "/Users/domster83/projects"
    themes: [
      "seti-ui"
      "seti-syntax"
      "unity-ui"
      "glacier-syntax"
    ]
  editor:
    fontFamily: "Menlo"
    invisibles: {}
    showIndentGuide: true
    softWrapAtPreferredLineLength: true
  "go-plus":
    goPath: "/Users/holman/Code/go"
  "release-notes":
    viewedVersion: "0.89.0"
  "spell-check":
    grammars: [
      "text.plain"
      "source.gfm"
      "text.git-commit"
      "text.html.basic"
    ]
    "spell-check":
      grammars: [
        "text.plain"
        "source.gfm"
        "text.git-commit"
      ]
  editor:
    fontFamily: "Input Mono"
    fontSize: 15
    invisibles: {}
    showIndentGuide: true
    softWrapAtPreferredLineLength: true
  "exception-reporting":
    userId: "e1911b41-0ac5-1ea6-094e-908069de8592"
  "git-plus": {}
  jekyll:
    serverPort: 4000
  metrics:
    userId: "1064974933e95a3a5f493720c87febecd064d5f7"
  minimap: {}
  "release-notes":
    viewedVersion: "0.95.0"
  tabs:
    showIcons: true
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: false
  welcome:
    showOnStartup: false
  whitespace:
    removeTrailingWhitespace: false
